:root {
  --color-fondo: #18171a;
  --color-texto: rgb(228, 211, 119);
  --color-principal: #03070f;
  --color-link: #d2f8ff;
  --fuente-principal: "Lexend Deca", sans-serif;
  .neon {
    color: white;
    text-shadow: 2px 2px 0px rgba(255, 0, 255, 1),
      -1px -1px 0px rgba(0, 0, 0, 1), -2px -3px 0px rgba(0, 255, 255, 1),
      1px 1px 2px rgba(0, 0, 0, 0.5), 0 0 4px rgb(0, 195, 255),
      0 0 10px darkblue;
  }
  .neonicon {
    filter: drop-shadow(2px 2px 0px rgba(255, 0, 255, 1));
  }
  .image-cropper {
    filter: drop-shadow(6px 6px 14px rgba(4, 0, 8, 0.6));

    width: 200px;
    height: 200px;
    position: absolute;
    top: 40px;
    right: 50px;
    z-index: 10;
    overflow: hidden;
    border-radius: 50%;
  }

  img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }
  body {
    margin: 0;
    font-family: "Lexend Deca";
    background: var(--color-fondo);
    color: var(--color-texto);
    line-height: 1.6;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5), 0 0 2px rgb(0, 195, 255),
      0 0 5px darkblue;

    background-image: url(https://c4.wallpaperflare.com/wallpaper/836/51/737/lights-night-cityscape-wallpaper-preview.jpg);
    background-size: cover;
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
  }

  header {
    background: var(--color-principal);
    color: var(--color-texto);
    padding: 2rem 30% 2rem 30%;
    text-align: left;
  }

  main {
    padding-left: 30%;
    padding-right: 30%;
  }

  h1 {
    font-size: 48px;
    margin: 0 0 0 0;
  }

  h2 {
    margin-top: 2rem;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  a {
    color: rgba(0, 255, 255, 1);
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 1);
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  footer {
    float: right;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    font-size: 0.9rem;
    background: #000000;
  }
}
